{% extends 'base_fixednav.html' %}
{% block title %}casino, basic games, fair pay-out, also play on IRC!{% endblock title %}
{% block desc %}ascii-art casino, basic games, play on IRC. find out more...{% endblock desc %}
{% block css %}
p {
  font-variant-caps: small-caps;
}
{% endblock css %}
{% block linklist %}
          <li class="nav-item">
            <a class="nav-link" href="/">home</a>
          </li>
         {% if session.logged_in == True %}
         <li class="nav-item">
            <a class="nav-link" href="/user/{{ session.username }}/">user-page</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">casino</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/irc/proxies.html">proxies</a>
         </li>
         <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout.html">sign-out</a>
          </li>
         {% else %}
         <li class="nav-item">
            <a class="nav-link" href="/user/nobody.html">user-pages</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">casino</a>
         </li>
         <li class="nav-item">
            <a class="nav-link disabled" href="#">proxies</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/register.html">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login.html">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-out</a>
          </li>
          {% endif %}
{% endblock linklist %}
{% block h1 %}The Casino Games{% endblock h1 %}
{% block lead %}House-hold Safe: <b>{{ stash }}</b> &nbsp;- Peak at <a href="/casino/prizes.html" alt="list of prizes you can choose from.">prizes*</a> you can earn!{% endblock lead %}
{% block content %}
<hr /><a href="/casino/bank.html">Your Banker*</a> - You have <b>{{ cash|safe }}</b> to play-in. You have <b>{{ prize_cash or '$5.00 CAD' }}</b> to spend on gifts.<br />
{% if remaining_pages > 0 %}
You have <u><strong>{{ remaining_pages or 9 }}</strong></u> hidden pages left to visit before unlocking <a href="/casino/locked/games.html" alt="description of 2 games you can unlock by visiting 9 specific pages">these 2 secret games</a>.</p>
{% else %}
You have unlocked <a href="/casino/locked/games.html" alt="Select this link to access two secret high paying games; unlocked.">these 2 secret games</a>!
{% endif %}
<center>
<h1><u>FoxGlove Chains</u></h1>
<h2>Match-up-a <u>Slot</u></h2>
<p>$2 dollars 3 plays - <a href="/casino/rules/food.html">how-to-win</a></p>
<h2>Dine-<u>out</u> or Shud-up</h2>
<p>Prizes only, play for keeps - <a href="/casino/rules/shudup.html">how-to-win</a></p>

<h1>Dice Games</h1>
<h2>5mokin' 2 rolls <u>(single</u> to 5 dies)</h2>
<p>5 cents a die with a chances to gamble your winnings and double your earnings - <a href="/casino/rules/2rolls.html">how-to-win</a></p>
<h2>Yahtzee (Poker) Roll-<u>Play</u></h2>
<p>10 cents a play - <a href="/casino/rules/yahtzee.html">how-to-win</a></p>

<h1>Card Player-Right</h1>
<h2>Blackjack <u>+</u> 21</h2>
<p>15 cents a play - <a href="/casino/rules/blackjack.html">how-to-win</a></p>
<h2><u>52</u> card war</u></h2>
<p>5 cents a play - <a href="/casino/rules/war.html">how-to-win</a></p>

<h1>7/5 - <u>Lotto</u></h1>
<h2>9 picks - 7 is a winner</h2>
<p>$1 dollar to play - <a href="/casino/rules/lotto7.html">how-to-win</a></p>
<h2><u>9 picks</u> - 5 is a winner</u></h2>
<p>25 cents a play - <a href="/casino/rules/lotto5.html">how-to-win</a></p>
</center>
{% endblock content %}

