{% set content_page_name = 'games' %}
{% extends 'base_fixednav.html' %}
{% block title %}games, basic games, fair pay-out, also play on IRC.{% endblock title %}
{% block desc %}ascii-art games, basic games, and play on IRC. find out more...{% endblock desc %}
{% block css %}
p {
  font-variant-caps: small-caps;
}
{% endblock css %}
{% block h1 %}The Games{% endblock h1 %}
{% block lead %}House-hold Safe: <b>{{ stash }}</b> &nbsp;- Peak at <a href="/games/prizes.html" alt="list of prizes you can choose from.">prizes*</a> you can earn!{% endblock lead %}
{% block content %}
<hr /><a href="/games/bank.html">Your Banker*</a> - You have <b>{{ cash|safe }}</b> to play-in. You have <b>{{ prize_cash or '$5.00 CAD' }}</b> to spend on gifts.<br />
{% if remaining_pages > 0 %}
You have <u><strong>{{ remaining_pages or 9 }}</strong></u> hidden pages left to visit before unlocking <a href="/games/locked/games.html" alt="description of 2 games you can unlock by visiting 9 specific pages">these 2 secret games</a>.</p>
{% else %}
You have unlocked <a href="/games/locked/index.html" alt="Select this link to access two secret high paying games; unlocked.">these 2 secret games</a>!
{% endif %}
<center>
<p class="h1"><u>FoxGlove Changes</u></h1>
<p class="h3">Match-up-a <u>Slot</u></p>
<p>$2 dollars 3 plays - <a href="/games/rules/food.html">how-to-win</a></p>
<p class="h3">Dine-<u>out</u> or Shud-up</p>
<p>Prizes money only, play for keeps - <a href="/games/rules/shudup.html">how-to-win</a> - <a href="/games/prizes.html" alt="list of prizes you can buy with your hard earned prize money">List-of-Prizes</a></p>

<p class="h1"><u>Dice Games</u></p>
<p class="h3">5mokin' 2 rolls <u>(two</u> to 5 dies)</p>
<p>5 cents per die. Busted? Retry, for 2 cents per-die - <a href="/games/rules/2rolls.html">how-to-win</a></p>
<p class="h3">Yahtzee (Poker) Roll-<u>Play</u></p>
<p>10 cents per play - <a href="/games/rules/yahtzee.html">how-to-win</a></p>

<p class="h1"><u>Card Plays</u></p>
<p class="h3">Blackjack <u>+</u> 21</p>
<p>15 cents per play - <a href="/games/rules/blackjack.html">how-to-win</a></p>
<p class="h3"><u>52</u> card war</u></p>
<p>5 cents per card - <a href="/games/rules/war.html">how-to-win</a></p>

<p class="h1"><u>20/10 - Lotto</u></p>
<p class="h3">20 picks - 5 is a <u>winner</u></p>
<p>20 cents per play - <a href="/games/rules/lotto7.html">how-to-win</a></p>
<p class="h3"><u>10 picks</u> - 5 is a winner</u></p>
<p>10 cents per play - <a href="/games/rules/lotto5.html">how-to-win</a></p>
</center>
{% endblock content %}

