{% extends 'base_fixednav.html' %}
{% block title %}real casino, basic games, fair pay-out, also play on IRC{% endblock title %}
{% block desc %}ascii-art casino, basic games, play on IRC. find out more...{% endblock desc %}
{% block h1 %}Secret Games{% endblock h1 %}
{% block content %}
<p>House-hold Safe: {{ stash }} &nbsp;- Peak at <a href="/casino/prizes.html">prizes</a> you can earn!</p>
<hr />
<p>The games on this page are locked until you visit at-least 9 secret pages. The hidden games have a "number 18 theme" to them. View some more, unique pages,
and the games will be unlocked, right here, until January First next year.</p>
<p>Unique pages remaining to view: {{ pages_count }}</p>
{% endblock content %}

