{% extends 'base_fixednav.html' %}
{% block css %}
@font-face {
  font-family: 'Lexend Tera';
  src: url('/static/LexendTera-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DangerNight';
  src: url('/static/DangerNightPersonalUse-owdl4.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hellounicorn';
  src: url('/static/Hellounicorn-GOrLG.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
p {
    font-family: 'Lexend Tera', sans-serif;
    font-variant: small-caps;
}
span.warning {
    font-family: 'DangerNight', sans-serif;
    font-size: 68px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Hellounicorn", sans-serif;
}
{% endblock css %}
{% block title %}casino, basic games, fair pay-out, also play on IRC!{% endblock title %}
{% block desc %}ascii-art casino, basic games, play on IRC. find out more...{% endblock desc %}
{% block linklist %}
          <li class="nav-item">
            <a class="nav-link" href="/">home</a>
          </li>
         {% if session.logged_in == True %}
         <li class="nav-item">
            <a class="nav-link" href="/user/{{ session.username }}/">user-page</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/casino/games.html">casino</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/irc/proxies.html">proxies</a>
         </li>
         <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout.html">sign-out</a>
          </li>
         {% else %}
         <li class="nav-item">
            <a class="nav-link" href="/user/nobody.html">user-pages</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/casino/games.html">casino</a>
         </li>
         <li class="nav-item">
            <a class="nav-link disabled" href="#">proxies</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/register.html">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login.html">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-out</a>
          </li>
          {% endif %}
{% endblock linklist %}
{% block h1 %}The Casino Gifts and Prizes List{% endblock h1 %}
{% block lead %}House-hold Safe: {{ stash }} &nbsp;- Peak at <a href="/casino/prizes.html" alt="list of prizes you can choose from.">prizes*</a> you can earn!{% endblock lead %}
{% block content %}
<hr /><a href="/casino/bank.html">Your Banker*</a> - You have <b>{{ cash|safe }}</b> to play-in. You have <b>{{ prize_cash or '$5.00 CAD' }}</b> to spend on gifts.<br />
{% if remaining_pages > 0 %}
You have <u><strong>{{ remaining_pages or 9 }}</strong></u> hidden pages left to visit before unlocking <a href="/casino/locked/games.html" alt="description of 2 games you can unlock by visiting 9 specific pages">these 2 secret games</a>.</p>
{% else %}
You have unlocked <a href="/casino/locked/games.html" alt="Select this link to access two secret high paying games; unlocked.">these 2 secret games</a>!
{% endif %}
<center>
<p><u>AAAA Quadrupal A selection of buds: Shipped direct from home.</u></p>
<h2>1/4 ounce Canabis - $30</h1>
<p><a href="/casino/buy/14buds.html">Buy 1/4 ounce canabis buds - $30</a></p>
<h2>Single ounce Canabis - $100</h1>
<p><a href="/casino/buy/ouncebuds.html">Buy single ounce canabis buds - $100</a></p>
<h2>Canabis Infused Gummy Worms - $5 each</h1>
<p><a href="/casino/buy/candy.html">Buy Candies - $5 each</a></p>
<hr />
<h1><strong>Illicit Drugs</strong> - Tested Every Sunday, at-least one Sunday.</h1>
<p>I am a Licensed Provider, and have been accepted since the age of 3 years-old to sell Crystal-Meth, Fyntenol, Canabis, cocain powder, cocain rock, and thats all that I remember. I have a Masters and Grade 10 and a half, and a phd in the field of street drugs and another one for serial killers; at-that-time (which is very difficult to get).</p>
<p>The drug Crystal-Meth is carefully crafted using only high-grade ingredients and is completely safe, however it has a 2 month withdrawl period with a painful kick in nut (worse?) at the end of your
3rd month. So, make sure you use it only on Wednesdays (1/4 gram only) for your first 4 months of quitting for a relaxed and empowering feelings, facing the world forever with a new and improved
brain chemistry: By damaging 3 special parts of brain which <strong>function</strong> only when damaged. If you think you need something to step up your game <strong>quitting this drug</strong> might
be your best and cheapest way to go. If you only have 2 points left save it until the start of the fourth month when the hell kicks in, if it does. If it doesn't then flush the side bag after 5 months. You will
feel so great you will have no problem smoking it or flushing it. I am trying to get some Temple Kung-Fu crystal-meth which has martial-arts genes to turn you in to an instant fighter with a small sniff,
does no damage to the brain and is not addictive. <strong>And Fun too!</strong></p>
<h2>(2x 8-ball) 1/4th ounce (7 grams) Crystal Meth - $200</h2>
<p><a href="/casino/buy/18meth.html">Buy 1/4 Meth - $200 CAD</a></p>
<h2>Single ounce (30 grams) Crystal Meth - $500</h2>
<p><a href="/casino/buy/ouncemeth.html">Buy ounce Meth - $500 CAD</a></p>
<hr />
<h2><u><span class="warning">Warning:</span></u> The drug <em>fyntenal</em> will <strong>kill you</strong> if you have never done it before.<br />
Carefully crafted by a knowledgable staff and tested for potency and harmful additives every Sunday.
</h2>
<h2>1/8 Fyntenal - $200</h2>
<p><a href="/casino/buy/18fyntenol.html">Buy 1/8 Fyntenol - $200 CAD</a></p>
<h2>Single ounce Fyntenol - $750.00 CAD</h2>
<p><a href="/casino/buy/ounce_fyntenol.html">Buy ounce fyntenol - $750.00 CAD</a></p>
<p>I usually buy <b>all</b> the 3-point scales from the store, like everyone else, with a few 2-point scales. Then, I need to wait for the store to reload on 3-point scales. They move quick and usually cost $50 or more.
<br /><a href="/casino/buy/scale.html">Buy Scale - $25.00 CAD</a></p>
<hr />
<h1><u>Prizes available</u>:</h1>
<h2>$1 dollar x 200 prizes</h2>
<h2>$5 x 20 prizes available</h2>
<h2>$10 x 2 prizes available</h2>
<h2>$20 x 5 prizes available</h2>
<h2>$50 x 1 prizes available</h2>
<h2>$100 x 1 prizes available</h2>
<h5>Total: $570 to spend on gifts listed above. 229 prizes are counted. More prizes added every month. More deverse gift selection added every month. Play the <a href="/casino/games/dineout.html">FloxGlove - Dine-out or Shud-up</a> to win prize money.</h5>
<p>The app takes 3 samples and picks a random prize of the 3 samples, unless your first sample is $1 dollar then your prize is $1 dollar, etc.. Only if it is your first pick from the sample prizes. This depletes the $1 prizes making room for the larger prizes amounts.</p>
<p>Only money that has ben lost to the house is picked up and used to add money prizes which you spend on gifts here and I make a small profit from those gift sales. This is the first casino in the world-wide-web to have such a diversity of gifts on the rack.</p>
</center>
{% endblock content %}


