{% extends 'base_fixednav.html' %}
{% block title %}Everyone with a page{% endblock title %}
{% block desc %}User-pages: Listing of (customized) IRC room pages.{% endblock desc %}
{% block linklist %}
          <li class="nav-item">
            <a class="nav-link" href="/">home</a>
          </li>
         {% if session.logged_in == True %}
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">user-page</a>
         </li>
        <li class="nav-item">
            <a class="nav-link" href="/casino/games.html">casino</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/irc/proxies.html">proxies</a>
         </li>
         <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout.html">sign-out</a>
          </li>
         {% else %}
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">user-pages*</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/casino/games.html">casino</a>
         </li>
         <li class="nav-item">
            <a class="nav-link disabled" href="#">proxies</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/register.html">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login.html">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-out</a>
          </li>
          {% endif %}
{% endblock linklist %}
{% block h1 %}Select a User-Page{% endblock h1 %}
{% block lead %}Create your own user-page, and stay connected with others.
{% if session.logged_in == 'True' and has_page is not True %}
Click <a href="/create.html" alt="link to create your default username folder you can visit and edit - once we get a system upgrade, or I restart the server.">create</a>, to start your page.
{% elif session.logged_in == 'True' and has_page is True %}
View your page by clicking <a href="/user/{{ session.username }}" alt="link to your user-page">this link</a>.
{% else %}
<a href="/login.html" alt="click here to sign-in to your account">Sign-in</a> then click the user-page link at the top navigation bar to create your page.
{% endif %}
{% endblock lead %}
{% block content %}
{% if session.logged_in != 'True' %}<p>New User? <a href="/register.html" alt="If you do not already have an account click this link to register one"><strong>create user here!</strong></a></p>
{% else %}
<p>Thank you for registering, custom IRC room pages will be available soon.</p>
{% endif %}
<p>page is nobody.html incomplete!</p>
{% endblock content %}