*/website_and_proxy/users/*
*/users/*
.cache/*
.config/*
.git/*
.ipython/*
.local/*
.nano/*
.ssh/*
virtualenvs/*
*/myvenv310/*
.virtualenvs/*
*__pycache__/*
*.pyc
*secret*
*secret.txt
reload.py
flask_session*/
pany*
.*
!.gitignore
www/website/templates/users/*
README.txt
