{% set url = "http://www.MyProxyIP.com" %}{% set longurl = "http://www.MyProxyIP.com" %}{% set shorturl = "MyProxyIP.com" %}<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
<meta http-equiv="Content-Security-Policy" content="
font-src 'self' data:;
img-src 'self' jigsaw.w3.org static.mywot.com ct.pinterest.com www.myproxyip.com;
connect-src 'self' ct.pinterest.com;
frame-src 'self' ct.pinterest.com s.pinimg.com;
script-src-elem 'self' ct.pinterest.com s.pinimg.com static.mywot.com 'unsafe-inline';
script-src 'self' ct.pinterest.com s.pinimg.com static.mywot.com 'unsafe-inline';
style-src-elem 'self' 'unsafe-inline';
style-src 'self' 'unsafe-inline';
default-src 'self';
">
<!-- Pinterest Tag -->
<noscript>
<img height="1" width="1" class="display-none" alt=""
  src="https://ct.pinterest.com/v3/?event=init&tid=2612657786017&pd[em]=<hashed_email_address>&noscript=1" />
</noscript>
<!-- end Pinterest Tag -->

    <script async src='https://static.mywot.com/website_owners_badges/websiteOwnersBadge.js'></script>
    <meta name="fo-verify" content="acb4d738-a57e-4b9f-a774-46baeaf0b31a" />
    <meta name="wot-verification" content="65788f5dad6eaf46033a"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block desc %}Where can I get a proxy server list for IRC clients? Proxy server/vhost list for IRC clients, click/tap here.{% endblock desc %}">
    <meta name="author" content="Ashburry and contributors">
    <title>{% block title %}PyNet Converge mSL script named Bauderr for Trio-IRCproxy.py host{% endblock title %}</title>

    <link rel="canonical" href="https://www.myproxyip.com/">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/normal_index.css">
    <script src="{{ url_for('static', filename='js/pinterest.js') }}" defer></script>
<!-- Standard favicon for browsers -->
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='custom/brand/favicon-96x96.png') }}?v=2">
<!-- Android Chrome -->
<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='custom/brand/android-chrome-192x192.png') }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='custom/brand/android-chrome-512x512.png') }}">
<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='custom/brand/apple-touch-icon.png') }}">
<!-- Safari Pinned Tab -->
<link rel="mask-icon" href="{{ url_for('static', filename='custom/brand/safari-pinned-tab.png') }}" color="#DAA520">
<!-- Windows Tile -->
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='custom/brand/mstile-144x144.png') }}">
<!-- PWA Manifest -->
<link rel="manifest" href="/site.webmanifest">
<!-- Open Graph Image for Social Sharing -->
<meta property="og:image" content="{{ url_for('static', filename='custom/brand/repository-open-graph-template.png') }}">

  <meta property="og:title" content="PyNet Converge script named Bauderr for Trio-Ircproxy.py">
  <meta property="og:description" content="Where can I get a proxy server list for IRC? Proxy server/vhost list for IRC clients, click here/tap.">
  <meta name="theme-color" content="#DAA520">
  {% block head %}
  {% endblock head %}

  </head>
  <body class="d-flex flex-column h-100">
<header>
  <!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html">Bauderr</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <svg viewBox="0 0 448 512" width="20" title="Toggle navigation bars">
    <path fill="white" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" />
</svg>
    </button>
<div class="collapse navbar-collapse" id="navbarCollapse">
<ul class="navbar-nav me-auto mb-2 mb-md-0">
{%- if content_page_name == 'home' -%}
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/index.html" title="Visit the home page">home</a>
  </li>
{%- else -%}
  <li class="nav-item">
    <a class="nav-link" href="/" title="Visit the home page">home</a>
  </li>
{%- endif -%}
{%- if content_page_name == 'userpages' -%}
 <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/user/nobody.html" title="Create your own web-space for your nicknames and rooms">user-pages*</a>
 </li>
{%- else -%}
  <li class="nav-item">
    <a class="nav-link" href="/user/nobody.html" title="View listing of all user pages">user-pages*</a>
  </li>
{%- endif -%}
{%- if content_page_name == 'proxies' -%}
 <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/irc/proxies.html" title="List of IRC Proxies reserved for your usage">proxies</a>
 </li>
{%- else -%}
<li class="nav-item">
    <a class="nav-link" href="/irc/proxies.html" title="List of IRC Proxies reserved for your usage">proxies</a>
 </li>
{%- endif -%}
{%- if content_page_name == 'games' -%}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/games/index.html" title="Play some games win some prizes of your choice or play for cash">games</a>
 </li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="/games/index.html" title="Play some chance games, win some prizes, or play for cash">games</a>
 </li>
{%- endif -%}
{%- if content_page_name != 'register' and session.logged_in == True -%}
 <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true" title="create a new account">new user</a>
  </li>

{%- elif content_page_name == 'register' and session.logged_in != True -%}
 <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/register.html" title="create a new account">new user</a>
  </li>
{%- elif content_page_name != 'register' and session.logged_in != True -%}
  <li class="nav-item">
    <a class="nav-link" href="/register.html" title="create a new account">new user</a>
  </li>
{%- endif -%}

{%- if content_page_name != 'login' and session.logged_in == True -%}
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true" title="Log-in to website">login</a>
  </li>
{%- elif content_page_name != 'login' and session.logged_in != True -%}
<li class="nav-item">
    <a class="nav-link" href="/login.html" title="Log-in to website">login</a>
  </li>
{%- elif content_page_name == 'login' and session.logged_in != True -%}
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/login.html" title="Log-in to website">login</a>
  </li>
 {%- endif -%}
 {%- if session.logged_in != True -%}
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true"  title="Log-out of website">logout</a>
  </li>
{%- else -%}
  <li class="nav-item">
    <a class="nav-link" href="/logout.html" title="Log-out of website">logout</a>
  </li>
{%- endif -%}
{%- if content_page_name == 'setup' and session.logged_in == True -%}
  <li class="nav-item">
   <a class="nav-link active" aria-current="page" href="/config/index.html" title="Configure service">setup</a>
  </li>
 {%- elif session.logged_in != True -%}
  <li class="nav-item">
   <a class="nav-link disabled" aria-disabled="true"  title="Configure service">setup</a>
  </li>
  {%- elif content_page_name != 'setup' and session.logged_in == True -%}
  <li class="nav-item">
    <a class="nav-link" href="/config/index.html" title="Configure service">setup</a>
  </li>
{%- endif -%}
</ul>
<form method="POST" action="/xdcc/search.html">
    {{ xsearch.hidden_tag() }}
<div class="form-group row">
    <div class="col-sm-8">
        {{ xsearch.search() }}
    </div>
    <div class="col-sm-4">
        {{ xsearch.search_button() }}
    </div>
</div>
</form>

      </div>
    </div>
  </nav>
</header>
<!-- Begin page content -->
<main class="flex-shrink-0;" >
{%- with msg = get_flashed_messages(with_categories=true) -%}
{%- if msg -%}
{%- for category, message in msg -%}
{%- if category == 'error' -%}
<div class="alert alert-danger alert-dismissible fade show session-alert" role="alert">
  <strong>{{ message[0:110]|safe }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%- else -%}
<div class="alert alert-success alert-dismissible fade show session-alert" role="alert">
  <strong>{{ message[0:110]|safe }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endwith -%}
<div>

<p class="mt-5" class="w3org-p; float-left">
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img class="w3org-img"
            src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="Valid CSS!" />
    </a>
</p>
<img src="{{ url_for('static', filename='images/irc-image-100.jpg') }}" alt="IRC dimension" class="float-left">
</div>
<h1>{%- block h1 -%}<i>Welcome to</i><br>{{ shorturl }}{%- endblock h1 -%}</h1>
<p class="lead">{%- block lead -%}Your Gateway to a World of Exciting Python Applications{%- endblock lead -%}</p>
{%- block content -%}
{%- endblock content -%}
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
</main>

<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
</footer>
</body>
<script type="module" src="/static/js/jquery-3.6.0.min.js"></script>
<script type="module" src="/static/js/color-modes.js"></script>
<script type="module" src="/static/js/index.esm.js"></script>
<script type="module" src="/static/js/src/alert.js"></script>
<script type="module" src="/static/js/src/base-component.js"></script>
<script type="module" src="/static/js/src/button.js"></script>
<script type="module" src="/static/js/src/carousel.js"></script>
<script type="module" src="/static/js/src/collapse.js"></script>
<script type="module" src="/static/js/src/dropdown.js"></script>
<script type="module" src="/static/js/src/modal.js"></script>
<script type="module" src="/static/js/src/offcanvas.js"></script>
<script type="module" src="/static/js/src/popover.js"></script>
<script type="module" src="/static/js/src/script.js"></script>
<script type="module" src="/static/js/src/scrollspy.js"></script>
<script type="module" src="/static/js/src/tab.js"></script>
<script type="module" src="/static/js/src/toast.js"></script>
<script type="module" src="/static/js/src/tooltip.js"></script


</html>
