<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
      <style>
      body {
  background-image: url('/static/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body data-bs-theme="dark">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  {% if session.logged_in == 'True' %}
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Sign-in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sign-out</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Sign-up</a>
  </li>
  {% elif session.logged_in != 'True' %}
  <li class="nav-item">
    <a class="nav-link" href="#">Sign-in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Sign-out</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sign-up</a>
  </li>
  {% endif %}
</ul>

  </div>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif category ==
    'success' %}
<div class="alert alert-warning alert-dismissible fade show" role="success">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button
</div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

    <br />
    <div class="container">
       {% block h1 %}{% endblock h1 %}
       <hr />
        {% block content %}
        {% endblock content %}
<br/><br/>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>



