{%- set content_page_name = 'cloned cards' -%}
{%- extends "base_fixednav.html" -%}
{%- block title -%}Cloned Cards. Ready to get rich?{%- endblock title -%}
{%- block desc -%}Where can buy cloned credit cards? Right here!{%- endblock desc -%}
{%- block h1 -%}Cloned Cards{%- endblock h1 -%}
{%- block lead -%}The underground is full of everything, including cloned credit cards{%- endblock lead -%}
{%- block content -%}
<p>Plcae an order with Stripe for one of our featured cloned credit cards, and receive it where ever you can accept mail.</p>
<p>Comming soon. Please wait or make an <a href="https://github.com/Ashburry-trio/Ircproxy/issue/">issue</a> for me to make this feature faster.</p>
{%- endblock content -%}