{% extends "base.html" %} {% block title %}username@Client-Name for proxy server sign-in{% endblock title %}
{% block desc %}username@Client-Name help with your proxy server sign-in. see more...{% endblock desc %}
{% block h1 %}username@Client-Name proxy sign-in Info{% endblock h1 %}
{% block content %}
<p>for each individual client process you are running you can give your client a name by appending @&lt;client-name&gt; to your username. You do this for each client
if you run more than one client or run one client more than once.</p>
<p>Since you can make multiple connections to IRC networks with one client you can give that client a name for all those connections. if you execute the client binary
multiple times, give each process its own name. Do not make the mistake of giving two client processes the same name because this may prevent one client from receiving
important meta-data about each client. also, when viewing client settings it may be easier to see which clients were affected by their client name instead of by each individual connection.
The client name is optional, it just organizes multiple connections under one client name. To set the client names sign-in to the proxy-server with your-username@your-clients-name-here for the username.
For Example, <b>Ashburry@mg-mIRC-one</b> and <b>Ashburry@mg-Adiirc-one</b> and you can see the client name in the titlebar when connected and the connection is active. You can give your client more than one client name
by changing the username sign-in formation for the next IRC connection. if you are using a terminal client multiple times it is okay to give them all
the same client name, or no client name. you can also name a connection with <b>/msg *status connectionName <em>named-Irssi-2</em></b>.</p>
{% endblock %}