{%- set content_page_name = 'cloned cards' -%}
{%- extends "base_fixednav.html" -%}
{%- block title -%}How does IrcProxy know which client is which?{%- endblock title -%}
{%- block desc -%}The mechanics of how IRC Proxy knows which client is which.{%- endblock desc -%}
{%- block h1 -%}Client Names{%- endblock h1 -%}
{%- block lead -%}Name each client for a customized experience{%- endblock lead -%}
{%- block content -%}
<p>You name your client by putting an @ sign on the end of your username followed by your clients name. So it looks like this UserJacks@MG_script.</p>
<p>This feature is important because I can send one global messsage through a dcc chat for that client instead of having one dcc chat for each servers connection all receiving
the same message. And it is important to have different client names for different clients if you do not want to receive *STATUS messages to a random client instead of to a specific client.
You can however choose to relay one clients messages to another client where prehaps you are more active. If howwever you connect to the same network twice your second connection to the
network will be dropped and you will have two of the same connection to a single network-server connection. So you can never have more than one connection to a network, if you try you
just get the same connection more than once. If they have different client names they will still share the same script settings, making me wonder why client names are important.
However, some settings are for all of a clients connections, not every client the person is using. If that was the case then just leave client name blank. You will still need to
/dcc chat &lt;proxy-ip&gt; &lt;proxy-port&gt;</p>
{%- endblock content -%}