{% extends 'base_fixednav.html' %}
{% block title %}Contributing.md for 3 Python and mSL apps.{% endblock title %}
{% block desc %}How to contribute to the projects, and list of who has contributed. Find out more...{% endblock desc %}

{% block h1 %}<em>Contributing.html</em>{% endblock h1 %}
{% block lead %}<h2><em>Contributers:</em></h2>
<p><strong><em><a href="https://pot420.shop/" target="_blank">Pot420.shop</a></em></strong> A special Thank-You to <a href="https://pot420.shop" target="_blank">Pot420.shop</a> for paying $7
a month for the last year to afford basic web-hosting from <a href="https://www.pythonanywhere.com" target="_blank">PythonAnywhere.com</a>. Shipping from Canada, British Columbia area to anywhere in the world.
Visit <a href="https://pot420.shop/" target="_blank">Pot420.shop</a> and receive all your cannabis needs.</p>

<p><strong><em><a href="irc://irc.libera.chat:6667/Python" alt="opens your default irc client">#Python on irc.libera.chat</a></em></strong>
Much Apperciation goes out to many of the people in <a href="irc://irc.libera.chat:6667/Python" alt="opens your default irc client">#Python on irc.libera.chat</a> --+
Many of the people there have helped me find solutions to various problems, in a professional manner.</p>

<p><strong><em>Ashburry --</em></strong> The founder and sole coder of the projects.</p>
{% endblock lead %}
{% block content %}<p>I am very happy you have found my CONTRIBUTING file and I am eager to have, in any form possible, your contribution to
Trio-ircproxy.py and Machine Gun mSL script named Bauderr and the web-site/web-server named RoseMay written with Flask mini-framework in Python3.
<br>For the most part i am coding the bulk of the applications, after which it will be easier to
contribute as there won't be such are defecit of code. You are welcome to fork the project at any time if you want to write your own app,
just include the LICENSE (or include similar licence suitable for open source software).  I doubt anyone would want to fork at such an
early stage of the project as the code is still messy. Contributions may include "word of mouth" sharing of the project details as
well as providing additional documentation, writting GitHub Issues (requesting features), Python and mSL code, and Pull Requests for
any of the files (and PUSH new files). You may contribute simply by idling in #5ioE on irc.UnderNet.org however the channel is not active
at the moment but you are still welcome to idle an irc-bot or client-connection. If you are planning on using proxy-service (provied by Trio-ircproxy.py) or
accompanied mIRC script (Machine Gun script named Bauderr) then please leave an Issue comment with any features you would like to be
included and I will do my best to include your feature request in the first release. Any contribution deserves credit where
credit is due and you may be mentioned in the appropriate section of the release notes, on the website, aswell as a "Thank-You" in this file.
So please state your nickname/name you prefer to be mentioned as and ask me on IRC or by email or write an issue requesting contribution
mention of yourself or another person. This file is a work in progress please feal free to update
it as needed by either writting an Issue or sending an email to ashburry_undernet@outlook.com.</p>
<p>Thank you for reading.</p>
<ul>
<li>Ashburry &nbsp; ashburry_undernet@outlook.com</li>
</ul>
<p><br />o &nbsp; end of document.</p>
{% endblock content %}