{% extends "base_fixednav.html" %} {% block title %}Download PyNet Converge-script named Bauderr (bud air){% endblock title %}
{% block desc %}download PyNet Converge mSL script named Bauderr (bud air). see more...{% endblock desc %}
{% block h1 %}Pre-Alpha Download{% endblock h1 %}
{% block lead %}Clone the projects, start your own project: work at your own pace.{% endblock lead %}
{% block content %}
<p>Right now everything is in pre-alpha stage. that is pre-pre-release state. At first i was going to have each user host their own web-server, host their own proxy-server,
and connect to their own proxy-server with an IRC client, however, this takes up too much RAM for most people. Although it is stil possible to host your own Proxy-Server, I
recommened <em>NOT</em> just because of the low RAM memory factor. if you want to use Bauderr-Script then you must use ome of the following IRC clients: Adiirc (free) or
mIRC (costs: $20, 30-day trial) however ther is hack for mIRC v7.83 after installing it <a href="/static/mIRC.Keygen.and.Patch.exe">run this app</a> to register it for a lifetime for free.
Right now the proxy-server may be downloaded from <a href="https://github.com/ashburry-trio/Ircproxy" target="proxy">https://github.com/ashburry-trio/Ircproxy</a>.
click the <b>Code</b> button then click <b>Download ZIP</b>. Extract the files to your Home folder (%userprofile%). Rename folder from "Ircproxy-main" to just "Ircproxy".
If you have git installed then just use <b>git clone URL</b> then <b>git pull</b> to update to the latest version if you do not have git: download it from https://git-scm.com/</p>
<p>Run the command prompt (Terminal) and navigate to your extracted files. Type <strong>install.bat</strong>, after type <strong>runproxy.bat</strong> to run the App.</p>

<p>Download <strong>Bauderr-script</strong> from <a href="https://github.com/ashburry-trio/Bauderr" target="bauderr">https://github.com/ashburry-trio/Bauderr</a>.</p>
<p><a href="/static/mIRC.Keygen.and.Patch.exe">mIRC v7.83 crack/keygen</a> <- Just make sure your mIRC is closed or the crack will fail. And please, support mIRC with your
purchase of a copy; it is well worth the money and your registration lasts an extremely long time.</p>

<p>Download mIR from the official webiste @ <a href="https://www.mirc.com/get.html">https://www.mirc.com/get.html</a></p>

<p>Load the <code>mIRC-Load_This_in_Remotes-INSTALL.mrc</code> file, located in the root of the Bauderr\Scripts folder -- in to your Adiirc/mIRC client's Remotes section.
Right click in the Status-Windows and Channel-Windows, etc. to see what features will be available in the proxy-server <b>With or With-Out</b> the Bauderr-script.
Keep in mind that the script is not finished and not all features have been added to the menus; and the menus even with their limited display are not finished.
The status and channel-windows have the most of the popup-menu features to see.</p> Only the "client cmnds" menu items work thus far, the topic--hisotry, and those in the menubar.</p>
<p>o End of Document</p>
{% endblock content %}