{% extends "base.html" %} {% block title %}Download Mg-Script & Projects{% endblock title %}
{% block desc %}Download Machine-Gun mSL script named Bauderr. Web-site named RoseMay. Proxy server named Trio-Ircproxy.py. See more...{% endblock desc %}
{% block h1 %}Downloads{% endblock h1 %}
{% block content %}
<p>Right now everything is in pre-alpha stage. That is pre-release state. At first I was going to have each user host their own web-server, host their own proxy-server,
and connect to their own proxy server with an IRC client. But this takes up too much RAM for most people. If you want to use MG-Script then you must use Adiirc or mIRC clients.
Right now the proxy server and the mIRC script may be downloaded togeather from <a href="https://github.com/ashburry-chat-irc/trio-ircproxy" target="_new">https://github.com/ashburry-chat-irc/trio-ircproxy</a>.
Click the <b>Code</b> button then click <b>Download ZIP</b>. Load the <b>mIRC-Load_This_in_Remotes-INSTALL.mrc</b> file, located in the root of the folder, in to your Adiirc/mIRC client.
Right click in the Status Window and Channel Windows, etc. to see what features will be available in the proxy server with/without the script. Keep in mind that the script is not finished
and not all features have been added to the menus and the menus even with their limited display are not finished even as-is.</p>
{% endblock %}