{% extends "base_fixednav.html" %} {% block title %}Download mg-script named Bauderr (bud air){% endblock title %}
{% block desc %}download Machine-Gun mSL script named Bauderr (bud air). see more...{% endblock desc %}
{% block h1 %}Pre-Alpha Download{% endblock h1 %}
{% block lead %}Clone the projects, start your own project: work at your own pace.{% endblock lead %}
{% block content %}
<p>right now everything is in pre-alpha stage. that is pre-release state. at first i was going to have each user host their own web-server, host their own proxy-server,
and connect to their own proxy-server with an IRC client. but this takes up too much RAM for most people. if you want to use MG-Script then you must use Adiirc (free) or mIRC (costs: $20) clients.
right now the proxy-server may be downloaded from <a href="https://github.com/ashburry-trio/Ircproxy" target="proxy">https://github.com/ashburry-trio/Ircproxy</a>.
click the <b>Code</b> button then click <b>Download ZIP</b>. Extract the files to your Home folder (%userprofile%).</p>

<p>run the command prompt and navigate to your extracted files. type <strong>install.bat</strong>, after type <strong>runproxy.bat</strong> to run the App.</p>

<p>download <strong>Machine-Gun script</strong> from <a href="https://github.com/ashburry-trio/Bauderr" target="bauderr">https://github.com/ashburry-trio/Bauderr</a>.</p>

<p>Load the <code>mIRC-Load_This_in_Remotes-INSTALL.mrc</code> file, located in the root of the Bauderr folder -- in to your Adiirc/mIRC client's Remotes section.
Right click in the Status-Windows and Channel-Windows, etc. to see what features will be available in the proxy-server <b>With or With-Out</b> the MG-Bauderr script.
Keep in mind that the script is not finished and not all features have been added to the menus; and the menus even with their limited display are not finished.
The status-windows have the most of the popup-menu features to see.</p>
{% endblock content %}