{% extends "fixednav_base.html" %} {% block title %}reset sign-in passwords{% endblock %}
{% block h1 %}reset sign-in passwords{% endblock h1 %}>
{% block content %}
 {% if accounts %}
<p>Your login details have returned existing account(s).
  A link to change your password has been emailed to the following accounts:</p>
<p>{% for email in accounts %}{{ email }} {% if accounts[email] == False %}- ERROR {% else %}- working{% endif %}<br />{% endfor %}</p>
{% else %}
<p>No accounts have been found. Make sure you've entered your UserName and/or E-mail correctly. You may also
<a href="/admin/signup.htm">sign-up for a new account</a> if you have a valid e-mail address with less than 5 not-expired
    accounts.</p>{% endif %}
{% endblock content %}
