{% extends "base.html" %} {% block title %}failed to reset account passwords{% endblock %}
{% block h1 %}sorry, reset passwords failed{% endblock h1 %}
{% block content %}
<p>there are no accounts which match the UserName or E-Mail address you have provided.</p>
<p>click/tap to go back to the <a href="/forgot.html">forgot password</a> page. Or,
sign-up for an <a href="/register.html">new account</a>, it's fast and easy. e-mail address requires less than 5
accounts associated with it (you may create 5 accounts per e-mail address).</p>
{% endblock content %}
