te{%- set content_page_name = 'register' -%}
{%- extends "base_fixednav.html" -%} {% block title %}Locate your account{%- endblock -%}
{%- block desc -%}Forgot your password? No problem, enter your email or username{%- endblock -%}
{%- block h1 -%}Find your account{%- endblock h1 -%}
{%- block lead -%}Forgot Your Password? First, find your account{%- endblock lead -%}
{%- block content -%}
<p>To locate your account enter your email address or username</p>
<div class="container"><form target="/questions.html" method="post">
<p><label>UserName or E-Mail:</label> <input type="username" name="user_email" id="user_email"></p>
<button type="submit" id="submit" class="btn btn-primary">Find My Account</button>
{%- endblock content -%}
