{% extends 'base.html' %}
{% block title %}service overview{% endblock title %}
{% block h1 %}hosting needs to be paid for{% endblock h1 %}
{% block content %}
<p>
so far the services to host a proxy server and a web-server have cost me $7 a month and all I have is a naked domain mslscript.com; for $12 a year. my friend
pays $7 a month for a little respect from <a href="https://www.pythonanywhere.com" target="_new">PythonAnywhere.com</a> and they host my web-server. Thank you
<a href="https://pot420.shop" target="_new">pot420.shop</a> for the help.
now i am thinking about getting a Python trainer to help motivate me to get this proxy-server running. i think i have got some hosting on lock with a VPS for $24.00 USD
a month from <a href="https://www.vultr.com/?ref=9433621" target="_new">https://www.vultr.com/</a>.
we'll see what else i must pay for; such as dozens of IPv4 addresses and some IPv6 addresses with sub-domain host-names at your_username.ircproxy.xyz and mslscript.com.</p>
<p>you will NOT have a choice as to which hostname you get to use, it will probably just rotate through a list so it is even or users get to select out of a sub-list
of domain names you may email me at <a href="mailto:ashburry_underNET@outlook.com">ashburry_underNET@outlook.com</a> about good hostnames you would like to see
(or find and contact me on IRC, in room #5ioE, feel free to send a memo or msg).</p>
{% endblock %}