{% extends "base.html" %} {% block title %}Login to your account{% endblock %}
{% block h1 %}Login{% endblock h1 %}
{% block content %}
<hr />
<p>google login, and others; are not possible to use on this site because your password is used within your IRC client, which does not support google
login for the Proxy-server credential(s). your username/password must be remembered at all times. your password will be encrypted on this disk; and can only be changed and removed after creation.</p>
<form action="/login.html" method="POST">
    <p>username <input type="username" name="username" /></p>
    <p>password <input type="password" name="password" /></p>
    <p>sign-in <input type="submit" value="sign-in" /></p>
</form>

<h2>don't have an account??</h2>
<h3><a href = "/register.html" title="click this link to create an account at www.mslscript.com">click here to <u><strong>create</strong></u> an account.</a></h3>
{% endblock %}