{%- set content_page_name = 'login' -%}
{%- extends "base_fixednav.html" -%}
{%- block title -%}Login to your account{%- endblock title -%}
{%- block css -%}
    <style>
        .submit {
            margin-top: 10px;
        }
        .checkboxlabel,.showPass {
            width: 20px;
            height: 20px;

        }
    </style>
{%- endblock css -%}
{%- block desc -%}Login to your IRC-Proxy account, view proxy list, create webspace, chance games{%- endblock desc -%}
{%- block h1 -%}Login Here{%- endblock h1 -%}
{%- block lead -%}Login to your already existing account.{%- endblock lead -%}
{%- block content -%}
    <h2>Sign In</h2>

<form action="/login" method="post">
  <input type="text" name="username" autocomplete="username" placeholder="Username">
  <input type="password" name="password" autocomplete="current-password" placeholder="Password">
  <button type="submit">Login</button>
</form>

<p class="h3">don't have an account??</p>
<p class="h4"><a href="/register.html" title="create an account to be assigned your proxy server(s)">click here to <u><strong>create</strong></u> an account.</a></p>
{%- endblock content -%}