{% extends 'base_fixednav.html' %}
{% block title %}user irc network listing{% endblock title %}
{% block h1 %}proxy-user-network activity{% endblock h1 %}
{% block content %}
<p>Click on an active nickname to see who is connected using your login.</p><p>
  {% if not user.logged_in %}
  <p>You must be signed-in to view your irc network activity.</p>
  {% elif networks == None %}
  <p>You are not logged-in to any irc networks at this time.</p>
  {% else %}
<p>Listing {{ network|length }} active networks for: <strong>{{ user.username }}</strong></p>
{% set bold = [0] %}
<p>
  {{ table }}
  {% for net in networks %}
  {% if bold.append(bold.pop() + 1) %}{% endif %}
  {% if bold[0] % 2 == 1 %}<strong>{% endif %}
  <br />{{ net }}
  {% if bold[0] % 2 == 1 %}</strong>{% endif %}
  {% endfor %}
  </p>
  {% endif %}
<p><a href="/irc/proxies.html"><- Back (proxies.html)</a></p>
{% endblock content %}