{%- extends 'base_fixednav.html' -%}
{%- block title -%}Privacy Policy for this website and linked apps{%- endblock title -%}
{%- block desc -%}Privacy Policy for this website and trio-ircproxy.py service{%- endblock desc -%}
{%- block h1 -%}Privacy Policy{%- endblock h1 -%}
{%- block lead -%}This page will be updated to describe all data stored on my servers associated with your account username{% endblock lead %}
{%- block content -%}
<h2>Privacy Policy</h2>
<p>Last Updated: Monday August 26 2024</p><p>
This Privacy Policy explains how www.myproxyip.com (and other URLs) ("we," "us," or "our") collects, uses, and protects the
personal information of visitors ("you" or "your") to our website www.myproxyip.com (the "Site"). We are committed to
maintaining the privacy and security of your personal data.
</p><h3>
Information We Collect</h3>
<p>When you visit our Site, we may collect the following types of information:
</p><p>
Visitor Logs: We log basic information about visitors, including:
<br>IP Address (or proxy), device type and page visited.
</p><p>
Voluntary data related to IRC (Internet Relay Chat), which may include:
<br>Nickname
<br>Room names
<br>Topics
<br>Room modes
<br>Nickserv and Chanserv and X bot details
</p><p>
Minimal Personal Data (if you are logged in) will be collected:
</p><p>
Email address
<br>Password (encrypted)
<br>IP address
<br>Device type
</p><h3>
Use of Information
<br>The data we collect is used solely for the following purposes:
</h3><p>
To provide and maintain our services, including enhancing user experience and functionality.
<br>To improve the security and reliability of our website and applications.
<br>To allow for easy login and management of IRC-related settings.
</p>
<h3>
Data Sharing and Disclosure
<br>We want to reassure you that:
</h3><p>
We do not sell, trade, or otherwise transfer your personally identifiable information to outside parties.
We do not share your email address, home address, IP address, geolocation data, or device type with any third parties.
The information you provide is solely for your use and the function of our services.
</p>
<h3>Security of Your Information</h3>
<p>We implement reasonable security measures to protect your personal information. While we strive to use commercially acceptable
means to safeguard your data, please remember that no method of transmission over the Internet, or method of electronic storage,
is 100% secure. Therefore, we cannot guarantee its absolute security.
</p><h3>Open Source Commitment</h3>
<p>All the software and applications associated with our website are open source and continually reviewed for security improvements.
Our commitment to transparency means that we are dedicated to addressing security vulnerabilities with every push made
to our GitHub repository.
</p><h3>Your Rights</h3><p>
As a user, you have the following rights regarding your personal data:
</p><p>
You have the right to request access to the personal information we hold about you.
You can request to update or delete your information by contacting us at ashburry-ceo@myproxyip.com
</p>
<h3>Changes to This Privacy Policy</h3>
<p>We may update our Privacy Policy from time to time. When we do, we will post the new Privacy Policy on this page,
and we will update the "Last Updated" date at the top of this policy. We encourage you to periodically review this
policy for any changes.
</p><h3>Contact Us</h3>
<p>If you have any questions or concerns about this Privacy Policy, please contact us at:
</p><p>
Email: ashburry-ceo@myproxyip.com
<br>Website: www.myproxyip.com
</p><p>By using our Site, you consent to the terms of this Privacy Policy. Thank you for trusting us with your information.
</p>
<p><br>o end of document.</p>
{% endblock content %}