{% extends "base.html" %} {% block title %}Private proxy server listing.{% endblock title %}
{% block desc %}You must be logged-in to view this page. Registering is easy and free. See more...{% endblock desc %}
{% block h1 %}Proxy Service Coverage{% endblock h1 %}
{% block content %}
<p>You must be logged-in to view this page. <a href="/login.html">LOG-IN HERE</a>.</p>
<p>This page normally contains the proxy server host-names your username/password will work on. Hosted by
<a href="https://www.vultr.com/?ref=9433621" target="_new">www.vultr.com</a>, for professional cloud hosting
with ddos mitigation on all proxy servers. Running on the fastest vCPU available. Pay for your own hosting and run <em>Python3 ./trio-ircproxy.py</em>
and you have your own private proxy server starting at $2.50 a month. Even this website is open-source, you may run it on your own personal cloud hosting
platform. Of course you will have to wait until I have finished coding everything.</p>
{% endblock %}