{% extends 'base_fixednav.html' %}
{% block linklist %}

         {% if session.logged_in == True %}
         <li class="nav-item">
            <a class="nav-link" href="/index.html">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/{{ session.username }}">user-page</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/casino/games.html">casino</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">proxies</a>
         </li>
         <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout.html">sign-out</a>
          </li>
         {% else %}
         <li class="nav-item">
            <a class="nav-link" href="/index.html">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/nobody.html">user-pages</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/casino/games.html">casino</a>
         </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">proxies</a>
         </li>
          <li class="nav-item">
            <a class="nav-link" href="/register.html">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login.html">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-out</a>
          </li>
          {% endif %}
{% endblock linklist %}
{% block title %}Proxy service coverage{% endblock title %}
{% block desc %}A list of proxy servers, the mIRC/Adiirc command to use the proxy, and your passcode.{% endblock desc %}
{% block h1 %}Your Proxy-Servers{% endblock h1 %}
{% block content %}
<p>Use the provided proxy servers with your secret username and password on your <abbr title='Internet Relay Chat'>IRC</abbr> clients.
While the Machine-Gun <abbr title="m-I-R-C scripting language">mSL script</abbr> is suggested with
<a href="https://www.mirc.com/get.html" target="_blank" title="link to mIRC.com web-site">mIRC</a> ($20) or
<a href="https://adiirc.com/download.php" target="_blank" title="link to A.d.i.i.r.c.com website">Adiirc</a>
(FREE), you can access all proxy-server features without any specific script or client. This service is comparable to the free
<a href="https://wiki.znc.in/ZNC" alt="complex insutrctions on how to host ZNC server on your VPS">ZNC bounce-service</a> found
on numerous <abbr title='Internet Relay Chat'>IRC</abbr> networks.</p>
<p><hr />
{% if bnc_list|length == 0 %}
<h4>No proxies available.</h4>
{% else %}
<h4>Available proxy server access</h4>
{% set count = [0] %}
{% for host, desc in bnc_list.items() %}
{% if count.append(count.pop() + 1) %}{% endif %}
    <p>{% print(count[0]) %}. host: {{ host }}
        &nbsp; {{ desc }}<br />/proxy -mP-d on {{ host }}
        {{ session.username }}<a href="/client-name-info.html" alt="information about how to use client-names in your UserName for proxy-server logins" name="_blank"><em>@unique-client-name</em></a> {{ passcode }}</p>
{% endfor %}
{% endif %}
<h5>Ofc none of these proxy-servers work; that is because there are no IPs or Hostnames to remote destinations. And unless you are running trio-ircproxy.py then none of the proxy-servers will work.</h5>
<h6>Trio-ircProxy.py is not even close to being complete; I am still struggling with this website (named RoseMay version PEACE-3 apps in total). Get this website at
<a href="https://github.com/ashburry-chat-irc/mslscript.com" name="_blank" alt="link to an open-source web-site which you may change and use for your own purpose, or mine.">github.com<a/> and host on <a href="https://www.pythonanywhere.com/" name="_blank" alt="link to PythonAnywhere.com where you can host a Python web-server (and more) and even hire a teacher.">PythonAnywhere.com</a>.</h6>
<br />
o &nbsp; end of document.
</p>
{% endblock content %}
