{% extends 'base_fixednav.html' %}
{% block linklist %}

         {% if session.logged_in == 'True' %}
         <li class="nav-item">
            <a class="nav-link" href="/index.html">home</a>
          </li>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/irc/proxies.html">proxies</a>
         </li>

         <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout.html">sign-out</a>
          </li>
         {% else %}
         <li class="nav-item">
            <a class="nav-link" href="/index.html">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">proxies</a>
         </li>
          <li class="nav-item">
            <a class="nav-link" href="/register.html">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login.html">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-out</a>
          </li>
          {% endif %}
{% endblock linklist %}
{% block title %}Proxy service coverage{% endblock title %}
{% block desc %}A list of proxy servers, the mIRC/Adiirc command to use the proxy, and your passcode.{% endblock desc %}
{% block h1 %}Your Proxy-Servers{% endblock h1 %}
{% block content %}
<p>Below this paragraph is a list of proxy-servers you may use with <em>only</em> your <abbr title="Internet Relay Chat">IRC</abbr> clients with your secret username and password.
It is recommended to use the <abbr title="mg-script">Machine-Gun</abbr> <abbr title="mIRC scripting language">mSL script</abbr> with either
<a href="https://www.mirc.com/get.html" target="_blank">mIRC</a> (costs $20) or
<a href="https://adiirc.com/download.php" target="_blank">Adiirc</a> (FREE) <abbr title='IRC'>Internet Relay Chat</abbr> clients.
However, you do not need to use any special script nor IRC client to take advantage of all the features there are to offer by the
proxy-servers alone. This proxy-service is similar to <a href="https://wiki.znc.in/ZNC">ZNC bounce-service</a>, found on many IRC-networks for free.</p>
<p>
<hr />
{% if bnc_list|length == 0 %}
<h4>No proxies available.</h4>
{% else %}
<h4>Available proxy server access</h4>
{% set count = [0] %}
{% for host, desc in bnc_list.items() %}
{% if count.append(count.pop() + 1) %}{% endif %}
    <p>{% print(count[0]) %}. host: {{ host }}
        &nbsp; {{ desc }}<br />/proxy -mP-d on {{ host }}&nbsp;
        {{ session.username }}<a href="/client-name.html" name="_new"><em>@unique-client-name</em></a> &nbsp; {{ passcode }}</p>
{% endfor %}
{% endif %}


<h6>ofc none of these proxy-servers work; that is because there are no IPs or Hostnames to remote destinations. And unless you are running trio-ircproxy.py then none of the proxy-servers will work.</h6>
<h5>Trio-ircproxy.py is not even close to being complete; I am still struggling with this website named RoseMay version PEACE, get it at
<a href="https://github.com/ashburry-chat-irc/mslscript.com" title="link to an open-source web-site which you may change and use for your own purpose, or mine.">github.com<a/>.</h5>

<br />
o &nbsp; end of document.
</p>
{% endblock content %}
