{% set content_page_name = 'proxies' %}
{% extends 'base_fixednav.html' %}
{% block title %}Proxy service coverage{% endblock title %}
{% block desc %}A list of proxy servers, the mIRC/Adiirc command to use the proxy, and your passcode.{% endblock desc %}
{% block h1 %}Your Proxy-Servers{% endblock h1 %}
{% block content %}
<p>Use the provided proxy servers with your secret username and password on your <abbr title='Internet Relay Chat'>IRC</abbr> clients.
While the Machine-Gun <abbr title="m-I-R-C scripting language">mSL script</abbr> is suggested with
<a href="https://www.mirc.com/get.html" target="_blank" title="link to mIRC.com web-site">mIRC</a> ($20) or
<a href="https://adiirc.com/download.php" target="_blank" title="link to A.d.i.i.r.c.com website">Adiirc</a>
(FREE), you can access all proxy-server features without any specific script or client. This service is comparable to the free
<a href="https://wiki.znc.in/ZNC" alt="complex insutrctions on how to host ZNC server on your VPS">ZNC bounce-service</a> found
on numerous <abbr title='Internet Relay Chat'>IRC</abbr> networks.</p>
<p><hr />
{% if bnc_list.keys()|length == 0 %}
<h4>No proxies available.</h4>
{% else %}
<h4>Available proxy server access</h4>
{% set count = [0] %}
{% for host, desc in bnc_list.items() %}
{% if count.append(count.pop() + 1) %}{% endif %}
    <p>{% print(count[0]) %}. host: {{ host }}
        &nbsp; {{ desc }}<br />/proxy -mP-d on {{ host }}
        {{ session.username }}<a href="/client-name-info.html" alt="how to use client-names in your UserName for proxy-server logins" name="_blank"><em>@unique-client-name</em></a>
        {{ passcode }}</p>
{% endfor %}
{% endif %}
<h5>Ofc none of these proxy-servers work; that is because there are no IPs or Hostnames to remote destinations. And unless you are running trio-ircproxy.py then none of the proxy-servers will work.</h5>
<h6>Trio-ircProxy.py is not even close to being complete; I am still struggling with this website (named RoseMay version PEACE-3.0). Get this website at
<a href="https://github.com/ashburry-trio/RoseMay/" name="RoseMay" alt="GitHub repo for this website.">github.com<a/> and host on <a href="https://www.pythonanywhere.com/" name="PA" alt="Where you can execute Python code in the cloud">PythonAnywhere.com</a>.</h6>
<br />
o &nbsp; end of document.
</p>
{% endblock content %}
