{% extends "base2.html" %} {% block title %}private proxy-server listing{% endblock title %}
{% block desc %}you must be signed-in to view this page. registering is easy and free. see more...{% endblock desc %}
{% block h1 %}proxy-service coverage{% endblock h1 %}
{% block content %}
<p>you must be signed-in to view this page. <a href="/login.html">LOG-IN HERE</a>.</p>
<p>this page normally contains the proxy server host-names your username/password will work on. hosted by
<a href="https://www.vultr.com/?ref=9433621" target="_new">www.vultr.com</a>, for professional VPS hosting
with ddos mitigation on all proxy servers.</p>
{% endblock %}