{% extends "base_fixednav.html" %} {% block title %}create an account{% endblock %}
{% block linklist %}
         {% if session.logged_in == 'True' %}
        <li class="nav-item">
            <a class="nav-link" href="/index.html">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/{{ session.username }}">user-page</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/casino/games.html">casino</a>
         </li>
          <li class="nav-item">
            <a class="nav-link" href="/irc/proxies.html">proxies</a>
         </li>
         <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout.html">sign-out</a>
          </li>
         {% else %}
         <li class="nav-item">
            <a class="nav-link" href="/index.html">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/nobody.html">user-pages*</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/casino/games.html">casino</a>
         </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">proxies</a>
         </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login.html">sign-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">sign-out</a>
          </li>
          {% endif %}
{% endblock linklist %}

{% block h1 %}Create an Account{% endblock h1 %}
{% block content %}
<p>We don’t support Google login (and others) because your IRC client requires a user-provided password, stored encrypted on our disk.
Only password changes and deletions are possible, <strong>NOT viewing it</strong>. So, remember your password at all times;
<strong>write it down</strong> if you must!</p>
<form action="/register.html?code={% if passtype == 'text' %}text{% else %}password{% endif %}" method = "POST">
    <p>username <input type="username" name="username" /></p>
    <p>password <input type="{% if passtype == 'text' %}text{% else %}password{% endif %}" name="password" />
    {% if passtype == 'password' %}<a href="/register.html?code=text" alt="Show your password in clear text.">show</a>
    {% else %}<a href="/register.html?code=password" alt="Hide your password with astrisks.">hide</a>{% endif %}</p>

    <p>register <input type="submit" value="create new" /></p>
</form>
<h3>already have an account?</h3>
<h4><a href="/login.html?code={{ passtype }}" alt="click this link to go to the sign-in page.">click here to <u><strong>sign-in</strong></u>.</a></h4>
{% endblock %}