{% extends "base.html" %} {% block title %}Register for an account{% endblock %}
{% block h1 %}Register{% endblock h1 %}
{% block content %}
<form action="/register.html" method = "POST">
    <p>username <input type="text" name="username" /></p>
    <p>password <input type="password" name="password" /></p>
    <p>register <input type="submit" value="create new" /></p>
</form>

<h2>already have an account?</h2>
<h3><a href="/login.html" title="click this link to go to the sign-in page">click here to <u><strong>sign-in</strong></u>.</a></h3>
{% endblock %}