{% extends 'base.html' %}
{% block title %}XDCC file-search - search IRC for downloads{% endblock title %}
{% block h1 %}XDCC search-engines{% endblock h1 %}
{% block content %}
<p>this service is not available because it is under construction. It will be some time before it is online; i have alot of work ahead.</p>
<p>there are some other xdcc-search websites available. I have a growing list below:</p>
<p>For anime and other stuff:</p>
<p><a href="irc://the-future.sytes.net/The-Future">the-future.sytes.net - #The-Future</a></p>
<p><a href="https://animk.info/xdcc/">https://animk.info/xdcc/</a></p>
<p><a href="https://nyaa.si/">https://nyaa.si/</a></p>

{% endblock content %}