@font-face{
    font-family:'LittlemomentRegular-OVneP';
    src:url('/static/fonts/LittlemomentRegular-OVneP.otf') format('opentype');
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Exo-ExtraLight';
    src:url('/static/fonts/Exo-ExtraLight.otf') format('opentype');
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Aloevera';
    src:url('/static/fonts/Aloevera.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Spectral-Medium';
    src:url('/static/fonts/Spectral-Medium.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'NO';
    src:url('/static/fonts/NO.TTF') format('truetype');
    font-weight:normal;
    font-style:normal
}
form i {
  margin-left: -30px;
  cursor: pointer;
}

body {
    background-color: black;
    background-image: url("/static/images/background05.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    color:white;
}
.float-left {
    float: left;
    margin-right:10px;
}

.button-search {
    width: 150px;
    font-weight: bolder;
}
p, pre {
    font-size: 1.1em;
    font-family: "Spectral-Medium";
    color: #fffdd0;
}
h1 {
  font-size: 3em;
  text-align: center;
  font-family: "Aloevera", serif;
  color: aqua;
font-weight: bolder;
}
.ooo {
  display: inline;
  color: #fcffa4;
}
hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}
.oneline {
  display: inline;
  font-family: "Spectral-Medium", serif;
  font-style: italic;
}
.session-alert {
    top:50px
}
.w3org-p {
    margin-bottom: 2px;
}
.w3org-img {
    border:0;width:88px;height:31px
}
.diplay-none {
    display:none;
}
h2, h3, h4, h5, h6 {
    font-family: "Exo-ExtraLight", serif;
    color: aqua;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
}
main, footer {
    padding-top: 0;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}
footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  text-align: center;
}

a:hover {
    color: aqua;
}
a:visted {
    color: aqua;
}
a:active {
    color: #FFCC99;
}
a {
    color: aqua;
}

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }
main > .container {
  min-width: 300px;
  padding: 60px 15px 0;
}
main {
  margin-top: 35px;
  max-width: 1024px; /* Set your desired max width here */
  width: 100%;
  padding: 0 15px;
}
    input {
      padding: 8px;
      font-size: 16px;
      width: 250px;
      margin-bottom: 10px;
      display: block;
    }

