{% extends 'base.html' %}
{% block title %}mSL script Machine-Gun named Bauderr, GUI front-end, for clients without mSL support.{% endblock title %}
{% block desc %}Web-site front-end to Machine-Gun named Bauderr mSL script supported by Trio-IrcProxy.py service. See more...{% endblock desc %}
{% block content %}
{% block h1 %}Trio-Ircproxy.py controls which are the same as using the mSL script in all clients.{% endblock h1 %}
<hr />
<p>You must <a href="/login.html" title="log-in to www.mslscript.com account">log-in</a> to your <em>www.mslscript.com</em>
account for access to this page. You may <a href="/register.html" title="register for an account to use Casino and Proxy-servers">register</a>
for an account, if you haven't already, for access to the Casino and Proxy-servers.</p>
<p>This page will contain settings for your IRC clients which are connected through the supplied proxy servers. Everything,
from switching <em>auto-join</em> to <em>"On"</em> to complex as adding bad words to the badwords.txt file on your personal computer.
All settings are sync'd to your proxy-servers, this web-site, and the Machine-Gun script if you choose to use it.</p>
<p><strong><em>DO NOT</em></strong> share your login-details with anyone! Instead, add their account to the access list for specific channel(s).</p>
{% endblock content %}