{% extends 'base.html' %}
{% block title %}GUI front-end, for irc clients without mSL support.{% endblock title %}
{% block desc %}Web-site front-end to Trio-IrcProxy.py script service. See more...{% endblock desc %}
{% block content %}
{% block h1 %}Trio-Ircproxy.py controls{% endblock h1 %}
<hr />
<p>The proxy-server scripts are not finished being coded; so there is nothing to do here.</p>
<p>Soon, there will be a list of all clients connected to your proxy-server, aswell as a list of channels, clicking on one of the client links,
or channnel links, will bring you to your script-settings pages.</p>
<p>If you use <em>Machine-Gun script named <span title="bud air">Bauderr</span></em> you will not need to visit this web-site to configure your script settings, unless
you want to allow a third-party person to change your script settings for specific channel(s).</p>
{% endblock content %}